body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #8DBCF3;
  color: #ffffff;
}

.banner{
  background-image: url("../images/banner.jpg");
  font-family: "Chalkduster", fantasy;
  padding: 200px;
  margin: 0;
}

.banner h1{
  font-size: 400%;
  color: #8DBCF3;
  align-items: center;
}

.banner .bannerimg{
  height: 50%;
  opacity: 80%;
}

/* nav bar styling */
nav {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  z-index: 2;
}

nav ul {
  padding-left: 0px;
}

nav img {
  margin-left: 64px;
  margin-top: 28px;
  margin-bottom: 28px;
}

#main-nav {
  display: inline-block;
  position: fixed;
  right: 64px;
  top: 28px;
  font-size: 28px;
}

#main-nav li {
  display: inline-block;
  padding-left: 20px;
}

#dropdown ul li {
  display: none;
}

/* dropdown hover: display more */
#dropdown:hover li {
  display: block;
}

#dropdown ul {
  position: fixed;
}

#dropdown ul li {
  text-align: left;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav a:hover{
  color: #78a6dc;
}

/* homepage main content */
main {
  padding: 40px 64px 40px 64px;
}

h2 {
  font-size: 48px;
}

.row {
  display: flex;
  flex-direction: horizontal;
}

.rowitem {
  width: 50%;
}

.rowitem p {
  font-size: 36px;
  margin-right: 14px;
}

.rowitem img {
  max-width: 100%;
  margin-left: 14px;
}

.citation {
  margin-left: 14px;
  font-size: 12px !important;
}

/* guide main content */
.offset {
  padding-top: 150px;
}

.boxes img{
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 320px;
  /* object-fit: none; */
  background-size: contain;
}

.boxes {
  background-color: #ffffff;
  width: 50%;
  border-radius: 20px;
  height: 410px;
  margin: 10px 10px 10px 10px;
  
}

.boxes h2{
  font-size: 50px;
}
.boxes h3 {
  font-size: 30px;
  color: black;
  padding-left: 20px;
}

